@font-face {
  font: {
    family: 'AlwaysForever';
    weight: 'normal';
    style: 'normal';
  }
  src: asset-url('always_forever.ttf', font) format('truetype');
}


.row-fluid.home {
  .span5 {
    .header {
      margin-bottom: 20px;
      .header-image {
        padding-top: 20px;
        width: 270px;
/*        height: 56px;*/
        height: 38px;
        margin: 0 auto;
        font-family: 'AlwaysForever', Helvetica, Arial, sans-serif !important;
        font-weight: bolder;
        color: whitesmoke;
        vertical-align: middle;
        h4 {
          text-align: center;
          font-size: 3em;
          margin: 0;
        }
      }
    }
    .first {
      background-image: url('/assets/board1.png');
    }
    .second {
      background-image: url('/assets/board2.png');
    }
    .text {
      padding: 10px;
      -webkit-border-radius: 9px;
      -moz-border-radius: 9px;
      border-radius: 9px;
      background-color: rgba(255, 255, 255, .5);
      form {
        margin: 0;
        input {
          width: 47%;
        }
        textarea {
          width: 85%;
        }
        input[type="submit"] {
          width: 62px;
        }
      }
    }
  }
  .about {
    margin-bottom: 20px;
  }
  
}

/* Large desktop */
@media (min-width: 1200px) {
}

/* Landscape tablet */
@media (min-width: 1010px) and (max-width: 1199px ) {
  .span5.offset9 {
    margin-left: 635px;
  }
  .row-fluid.home {
    .span5.contact {
      .text {
        input { 
          width: 45%; 
        } 
        textarea {
          width: 95%;
        }
        input[type="submit"] {
          width: 100%;
        }
      }
    }
  }
}

/* small desktop */
@media (min-width: 980px) and (max-width: 1009px) { 
  .span5.offset9 {
    margin-left: 600px;
  }
  .row-fluid.home {
    .span5.contact {
      .text {
        input { 
          width: 45%; 
        } 
        textarea {
          width: 95%;
        }
        input[type="submit"] {
          width: 100%;
        }
      }
    }
  }
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) { 
  html body {
    background-image: url('/assets/bg2-vertical.png');
    background-repeat: repeat-y;
  }
  .row-fluid.home {
    .span5.contact {
      .text {
        input, textarea { 
          width: 95%; 
        } 
        input[type="submit"] {
          width: 100%;
        }
      }
    }
  }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) { 
  html body {
    background-image: url('/assets/bg2-vertical.png');
    background-repeat: repeat-y;
  }
  
  .row-fluid.home {
    .span5.contact {
      .text {
        textarea {
          width: 97%;
        }
        input[type="submit"] {
          width: 100%;
        }
      }
    }
  }
  
  .logo {
    margin-bottom: 10%;
    .span5 {
      img {
        width: 100%;
      }
    }
  }
}
 
/* Portrait phones and down */
@media (max-width: 480px) { 
  .row-fluid.home {
    .span5.contact {
      .text {
        input, textarea { 
          width: 95%; 
        } 
        input[type="submit"] {
          width: 100%;
        }
      }
    }
  }
  .logo {
    margin-bottom: 10%;
    .span5 {
      img {
        margin-left: 0;
      }
    }
  }
}