@media (min-width: 768px) {
  #wazala_tab_w {
    background-image: url('wazala_tab2.png') !important;
    -webkit-transition: margin 0.5s ease-in; 
    -moz-transition:    margin 0.5s ease-in;
    -o-transition:      margin 0.5s ease-in;
  }  
}
