<span class="close">X</span>
<p>
  Sklep Internetowy "ADPA " działający pod adresem www.adpa.eu prowadzony jest przez
"ADPA Krzysztof Nowak" z siedzibą w Jeleniej Górze 58-506 ul. Wrocławska 83/6,
NIP: 6112279884. Regon numer: 021802909
</p>
<ol>
  <li>Sklep Internetowy prowadzi sprzedaż produktów za pośrednictwem sieci Internet.</li>
  <li>Zamówienia są przyjmowane za pośrednictwem sieci Internet. W celu złożenia zamówienia należy wypełnić formularz zamówienia.</li>
  <li>Realizacja zamówienia następuje, gdy do sklepu dotrze od Kupującego e-mail z potwierdzeniem złożonego zamówienia.</li>
  <li>Czas realizacji zamówienia wynosi 2 dni robocze od dnia otrzymania potwierdzenia złożenia
  zamówienia.</li>
  <li>Po skompletowaniu zamówienia towar zostaje wysłany do Kupującego.</li>
  <li>Termin otrzymania przesyłki = czas realizacji + przewidywany czas dostawy.</li>
  <li>W przypadku niedostępności części towarów objętych zamówieniem Kupujący jest o tym niezwłocznie informowany. Kupujący decyduje czy zamówienie ma być zrealizowane częściowo czy w całości anulowane.</li>
  <li>Wszystkie ceny podawane są w złotych polskich. Cena podana przy każdym
  towarze jest wiążąca w chwili złożenia zamówienia przez klienta. Sklep zastrzega sobie prawo do zmiany cen towarów znajdujących się w ofercie, wprowadzania nowych towarów do oferty sklepu internetowego.</li>
  <li>Za zamówione towary Kupujący może zapłacić przelewem bankowym na konto sklepu.</li>
  <li>Zamówiony towar wysyłany jest na terenie Polski za pośrednictwem Poczty Polskiej (obowiązuje aktualny cennik Poczty Polskiej).</li>
  <li>W momencie potwierdzenia przez Kupującego wysłanego przez niego zamówienia dochodzi do zawarcia umowy pomiędzy SPRZEDAJĄCYM a KUPUJĄCYM. Przedmiotem umowy jest towar wymieniony w zamówieniu.
  Prawa i obowiązki stron wynikające z zawartej umowy uregulowane są w Ustawie z dnia 23 kwietnia 1964r Kodeks Cywilny (Dz. U. z 1964r. nr 16, poz. 93 z późniejszymi zamianami) oraz w Ustawie z dnia 2 marca 2000r. o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny (Dz. U. z 2000r., nr 22, poz. 271 z późniejszymi zmianami).</li>
  <li>Umowa sprzedaży towarów zawierana jest zgodnie z prawem polskim i w języku polskim.</li>
  <li>Sądem właściwym dla rozpatrywania sporów wynikających z umowy sprzedaży jest sąd właściwy dla siedziby pozwanego lub sąd właściwy dla miejsca wykonania umowy.</li>
  <li>Informujemy, że dane osobowe podane na formularzu zamówienia w sklepie internetowym „ADPA ”, są gromadzone i przetwarzane zgodnie z Ustawą z dn. 29 sierpnia 1997r. o ochronie danych osobowych (Dz.U. z 2002 roku nr 101 poz. 926 z późniejszymi zmianami). Zgromadzone dane osobowe są wykorzystywane tylko i wyłącznie do celów realizacji złożonych zamówień oraz informowania o promocjach i w żadnym wypadku nie będą udostępniane osobom trzecim. Każdy klient naszego sklepu ma prawo do wglądu, modyfikacji oraz usunięcia swoich danych osobowych z naszej bazy danych.</li>
  <li>Zwrot towaru. Zgodnie z Ustawą z 2 marca 2000 roku „o ochronie niektórych praw konsumentów oraz o odpowiedzialności za szkodę wyrządzoną przez produkt niebezpieczny”, klient może zrezygnować z towaru kupionego w naszym sklepie bez podania przyczyny w ciągu 10 dni od dnia odebrania przesyłki. Jest to możliwe tylko wówczas, gdy towar nie nosi śladów użytkowania, jest kompletny i nie został w żaden sposób zniszczony. Zwracany towar należy odesłać razem z otrzymanym wraz z nim rachunkiem. Sklep gwarantuje zwrot kwoty równej cenie towaru. Pieniądze zostaną zwrócone w ciągu 5 dni roboczych przelewem bankowym na konto wskazane przez klienta lub przekazem pocztowym na adres wskazany w zamówieniu. Koszt odesłania towaru nie podlega zwrotowi.</li>
  <li>Reklamacje. Jeżeli po otrzymaniu towaru klient znajdzie w nim wady fizyczne powinien odesłać go przesyłką pocztową na adres ADPA Krzysztof Nowak ul. Wrocławska 83/6, 58-506 Jelenia Góra . Sklep nie przyjmuje żadnych przesyłek odsyłanych za pobraniem. Koszty związane z odesłaniem towaru reklamowanego sklep zwraca niezwłocznie po otrzymaniu przesyłki i rozpatrzeniu reklamacji. Do odsyłanego towaru należy dołączyć rachunek oraz opis przyczyny reklamacji. Wszelkie reklamacje rozpatrywane są w ciągu 5 dni roboczych od dnia ich wpłynięcia. Towar uszkodzony zostanie wymieniony na nowy pełnowartościowy, a jeśli będzie to już niemożliwe (na przykład z powodu wyczerpania zapasów), sklep zwróci nabywcy równowartość ceny towaru lub zaoferuje mu do wyboru inne dostępne w sklepie towary.</li>
</ol>