<div class="row">
  <div class="span5 offset9">
    <%= image_tag('logo.png')%>
  </div>
</div>
<div class="row-fluid home">
  <div class="span5 about offset1">
    <div class="header">
      <div class="header-image first">
        <h4>o nas</h4>
      </div>
    </div>
    <div class="text">
      <p>
        Cupcake ipsum dolor sit amet cotton candy cookie dessert chocolate. Cake I love muffin I love cheesecake sweet chocolate cake croissant. Ice cream tiramisu I love liquorice oat cake. Lollipop sesame snaps brownie ice cream. Croissant I love icing soufflé halvah biscuit halvah pudding. Danish chocolate cake ice cream candy candy candy marzipan. Topping tart applicake cheesecake cookie jujubes. Pudding icing chupa chups.
      </p>
    </div>
  </div>
  <div class="span5 contact">
    <div class="header">
      <div class="header-image second">
        <h4>kontakt</h4>
      </div>
    </div>
    <div class="text">
      <p>
        Cupcake ipsum dolor sit amet cotton candy cookie dessert chocolate. Cake I love muffin I love cheesecake sweet chocolate cake croissant. Ice cream tiramisu I love liquorice oat cake. Lollipop sesame snaps brownie ice cream. Croissant I love icing soufflé halvah biscuit halvah pudding. Danish chocolate cake ice cream candy candy candy marzipan. Topping tart applicake cheesecake cookie jujubes. Pudding icing chupa chups.
      </p>
    </div>
  </div>
</div>