<div class="row logo">
  <div class="span5 offset9">
    <%= image_tag('logo.png')%>
  </div>
</div>
<div class="row-fluid home">
  <div class="span5 about offset1">
    <div class="header">
      <div class="header-image first">
        <h4>o nas</h4>
      </div>
    </div>
    <div class="text">
      <p>
        Witamy Państwa na stronie sklepu internetowego ADPA. Oferujemy Państwu drewniane zabawki wspomagające rozwój i naukę Waszego dziecka, w sprzedaży posiadamy również 
        komplety pościeli. <br />
        Zapraszamy na zakupy do naszego sklepu (także na <a href="http://allegro.pl/sklep/24552299_super-adpa">Allegro</a>).
      <span class="statute_show">regulamin</span>
      </p>

    </div>
    <div class="statute">
      <%= render 'statute' %>
    </div>
    <!-- <div class="span5 tower">
      <%= image_tag('tower.png')%>
    </div> -->
  </div>
  <div class="span5 contact">
    <div class="header">
      <div class="header-image second">
        <h4>kontakt</h4>
      </div>
    </div>
    <div class="text">
      <%= render 'new_message' %>
    </div>
  </div>
</div>
