<div class="row-fluid home">
  <div class="span5 about">
    <div class="header">
      <h4>o nas</h4>
    </div>
    <div class="text">
      <p>
        Cupcake ipsum dolor sit amet cotton candy cookie dessert chocolate. Cake I love muffin I love cheesecake sweet chocolate cake croissant. Ice cream tiramisu I love liquorice oat cake. Lollipop sesame snaps brownie ice cream. Croissant I love icing soufflé halvah biscuit halvah pudding. Danish chocolate cake ice cream candy candy candy marzipan. Topping tart applicake cheesecake cookie jujubes. Pudding icing chupa chups.
      </p>
    </div>
  </div>
  <div class="span5 contact">
    
  </div>
</div>